

<div id = "mainpage">
<!--Thanh menu bên phải gồ: sing in, newest post, viewcount... -->
<div id = "sidebar">
	<div id="sidebar-header1" align="center"><b>Log In</b></div><!--close sidebar-content1-->
	<div id="sidebar-item">
			<form data-ng-if="articleDetailCtrl.authenticated == false">
			<p>{{articleDetailCtrl.error}}</p>
			<p>{{articleDetailCtrl.registerError}}</p>
			<table style="width:100%">
			  <tr>
			    <td>Usernames:</td>
			    <td><input type="text" name="username" data-ng-model="articleDetailCtrl.username"></td> 
			  </tr>
			  <tr>
			    <td>Password:</td>
			    <td><input type="text" name="password" data-ng-model="articleDetailCtrl.password"></td> 
			  </tr>
			  <tr data-ng-if="articleDetailCtrl.showRegister == true">
			    <td>Email:</td>
			    <td><input type="text" name="email" data-ng-model="articleDetailCtrl.email" ></td> 
			  </tr>
			  <tr data-ng-if="articleDetailCtrl.showRegister == true">
			    <td>Name:</td>
			    <td><input type="text" name="name" data-ng-model="articleDetailCtrl.name" ></td> 
			  </tr>
			</table>

		<center>
			<button type="button" data-ng-click="articleDetailCtrl.login()" data-ng-if="articleDetailCtrl.showRegister == false">Login</button>
			<button type="button" data-ng-click="articleDetailCtrl.showRegisterForm()" data-ng-if="articleDetailCtrl.showRegister == false">Signup</button>
			<button type="button" data-ng-click="articleDetailCtrl.register()" data-ng-if="articleDetailCtrl.showRegister == true">Signup</button>
			<button type="button" data-ng-click="articleDetailCtrl.showLoginForm()" data-ng-if="articleDetailCtrl.showRegister == true">Cancel</button>
			<br>
		</center>
		</form>
		<form data-ng-if="articleDetailCtrl.authenticated == true">
		<center>
			Hello {{articleDetailCtrl.username}}
			<button data-ng-click="articleDetailCtrl.logout()">Log out</button>
		</center>
		</form>
	</div><!--close sidebar-item1-->
	<div id="sidebar-header1" ><b>Search</b></div><!--sidebar-header2 close-->
	<div id="sidebar-item">
		<form>
		<center>
			<input type="text" name="txbSearch" size="35"><button type="button">Search</button>
			<br>
		</center>
		</form>
	</div><!--close sidebar-item2-->

</div><!--close sidebar-->

<!--Nơi mình cho nội dung vô-->
<div id = "contentpage">
	<div id="content">
        <div class="content_item">
          <h2>{{articleDetailCtrl.article.title}}</h2>
          <br><hr>
          <center><img src="{{articleDetailCtrl.article.image}}"/></center>
          <br><br>
            
           <p ng-bind-html="articleDetailCtrl.article.content | unsafe"></p>

	    </div><!--close content_item-->
	    <hr><hr>
    </div><!--close content-->	
    <div id="content">
        <div class="comment_container" data-ng-repeat="comment in articleDetailCtrl.article.comments">
          	
          	
          	<p><b>{{comment.username}} </b> said: <br>
          	{{comment.content}}
          	</p>
	    </div><!--close content_item-->


	    
	    <div class="comment_inputer" data-ng-if="articleDetailCtrl.authenticated == true">
	    	Comments
	    	<form>
				<div>
				<textarea style="font-family:sans-serif;font-size:1.2em;" data-ng-model="articleDetailCtrl.comment" placeholder="Hey... say something!" rows="2" cols="200">
								
				</textarea>
				</div>
				<input type="submit" data-ng-click="articleDetailCtrl.postCommentOnArticle(articleDetailCtrl.article.id)" data-ng-if="articleDetailCtrl.comment != null && articleDetailCtrl.comment != ''">
			</form>
		</div>
    </div><!--close content-->	

<!-- end htmlcommentbox.com -->
</div><!--close contentpage-->

</div><!--close main page-->

<!--Thông tin nhóm-->
<div id = "footer">
	Trường Đại học Khoa học tự nhiên<br>
	Câu lạc bộ tiếng Anh BEE Club<br>	
	<hr>
	<center>1212154_Phạm Thanh Huy</center>
	<center>1212397_Đoàn Thị Bích Thùy</center>
	<center>1212152_Nguễn Nhật Huy</center>
</div>
