

<div id = "mainpage">
<!--Thanh menu bên phải gồm: sign in, newest post, viewcount... -->
<div id = "sidebar">
	<div id="sidebar-header1" align="center"><b>Log In</b></div><!--close sidebar-content1-->
	<div id="sidebar-item">
		<form data-ng-if="aboutCtrl.authenticated == false">

			<p>{{aboutCtrl.error}}</p>
			<p>{{aboutCtrl.registerError}}</p>
			<table style="width:100%">
			  <tr>
			    <td>Usernames:</td>
			    <td><input type="text" name="username" data-ng-model="aboutCtrl.username"></td> 
			  </tr>
			  <tr>
			    <td>Password:</td>
			    <td><input type="text" name="password" data-ng-model="aboutCtrl.password"></td> 
			  </tr>
			  <tr data-ng-if="aboutCtrl.showRegister == true">
			    <td>Email:</td>
			    <td><input type="text" name="email" data-ng-model="aboutCtrl.email" ></td> 
			  </tr>
			  <tr data-ng-if="aboutCtrl.showRegister == true">
			    <td>Name:</td>
			    <td><input type="text" name="name" data-ng-model="aboutCtrl.name" ></td> 
			  </tr>
			</table>

		<center>
			<button type="button" data-ng-click="aboutCtrl.login()" data-ng-if="aboutCtrl.showRegister == false">Login</button>
			<button type="button" data-ng-click="aboutCtrl.showRegisterForm()" data-ng-if="aboutCtrl.showRegister == false">Signup</button>
			<button type="button" data-ng-click="aboutCtrl.register()" data-ng-if="aboutCtrl.showRegister == true">Signup</button>
			<button type="button" data-ng-click="aboutCtrl.showLoginForm()" data-ng-if="aboutCtrl.showRegister == true">Cancel</button>
			<br>
		</center>
		</form>
		<form data-ng-if="aboutCtrl.authenticated == true">
		<center>
			Hello {{aboutCtrl.username}}
			<button data-ng-click="aboutCtrl.logout()">Log out</button>
		</center>
		</form>

	</div><!--close sidebar-item1-->
	<div id="sidebar-header1" ><b>Search</b></div><!--sidebar-header2 close-->
	<div id="sidebar-item">
		<form>
		<center>
			<input type="text" name="txbSearch" size="35"><button type="button">Search</button>
			<br>
		</center>
		</form>
	</div><!--close sidebar-item2-->
	
</div><!--close sidebar-->

<!--Nơi mình cho nội dung vô-->
<div id = "contentpage">
	
    <h1>THIS IS ABOUT ME</h1>

</div><!--close contentpage-->

</div><!--close main page-->

<!--Thông tin nhóm-->
<div id = "footer">
	Trường Đại học Khoa học tự nhiên<br>
	Câu lạc bộ tiếng Anh BEE Club<br>	
	<hr>
	<center>1212154_Phạm Thanh Huy</center>
	<center>1212397_Đoàn Thị Bích Thùy</center>
	<center>1212152_Nguễn Nhật Huy</center>
</div>
