@charset "utf-8";
/*1212154 Phạm Thanh Huy*/

#header
{ 	width: 80%;
	height: 250px;
	text-align: center; 
	margin: 0 auto;
	background: #b1ff28;
	opacity: 1;
}

#banner img
{ 	width: 100%;
	height: 250px;
	position: relative;
	padding: 0;
	background: transparent;
	border-radius: 15px 15px 0px 0px ;
}
