@charset "utf-8";
/*1212154 Phạm Thanh Huy*/


#footer
{ width: 80%;
  height: 150px;
  padding-top: 20px;
  text-align: center; 
  background: #f5f5dc;
  color: #00b0e5;
  text-shadow: 1px 1px #ffff00;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  }

#footer a, #footer a:hover
{ color: #00b0e5;
  text-decoration: none;
  padding-bottom: 20px;}

#footer a:hover
{ text-decoration: underline;}
    text-decoration: underline;
	color: red;
}