<div id="header">
	<center>
	<div id="banner">
		<img src="../images/banner/banner1.jpg" alt="Banner">
	</div><!--close icon-->
	
	</center>
</div><!--close header-->

<!--Thanh menu gồm 6 nút tượng trưng cho 6 trang đã bàn-->
<div id = "menubar" data-ng-controller="MenuController as menuCtrl">
	<ul id = "menu">
		<li><a href="#/"></a></li>
		<li><a href="#/"></a></li>
		<li><a href="#/"></a></li>
		<li><a href="#/"></a></li>
		<li><a href="#/"></a></li>
		<li><a href="#/"></a></li>
		
		<li><a href="#/">Main menu</a></li>
		<li><a href="#/articles">Articles</a></li>

		<li><a href="#/members">Members</a></li>
		<li><a href="#/admin/articles">Manage</a></li>
		<li><a href="#/about">About</a></li>
</div>
